//colors
$deep-green-color: #475c46;
$lemon-green-color: #085c11;
$paragraph-color: #141e15;
$btn-color: #0d4512;
$card-color: #26582a;
$nav-links-color: #555555;
$white: #fff;

$desktop-width: 676px;
